.application-header{

    margin-bottom:28px;

}

.application-header h1{

    display:flex;

    align-items:center;

    gap:14px;

    font-size:34px;

    color:#0f172a;

}

.application-header svg{

    color:#2563eb;

}

.application-header p{

    margin-top:12px;

    color:#64748b;

    font-size:15px;

    line-height:1.8;

}